:root {
  --primary-color: #3cdbc0;
  --font-main-color: #4a4a4a;
  --font-secondary-color: #ffffff;
  --font-regular: 400;
  --font-bold: 800;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-regular);
}

.header-menu {
  margin-bottom: 13px;
  font-size: 16px;
}

.header-menu-items {
  display: flex;
  list-style-type: none;
}

.header-menu-items-links {
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  padding: 10px;
}

.header-logo {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  color: var(--font-secondary-color);
  font-weight: var(--font-bold);
  text-align: center;
}

.main-title span {
  display: block;
  text-transform: capitalize;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-menu {
    margin-bottom: 0;
  }

  .main-title span {
    font-size: 40px;
  }
}
