:root {
  --primary-color: #3cdbc0;
  --font-main-color: #4a4a4a;
  --font-secondary-color: #ffffff;
  --font-regular: 400;
  --font-bold: 800;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-regular);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.header-menu {
  margin-bottom: 13px;
  font-size: 16px;
}

.header-menu-items {
  display: flex;
}

.header-menu-items :last-child {
  padding-left: 20px;
}

.header-logo {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  color: var(--font-secondary-color);
  font-size: 30px;
  font-weight: var(--font-bold);
  text-align: center;
}

.main-title span {
  display: block;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-menu {
    margin-bottom: 0;
    font-size: 16px;
  }

  .main {
    font-size: 40px;
  }
}
